/* +++++++++++++++  UTILITES  ++++++++++++++++ */
.container{
    max-width: 100% !important;
}
h1 {
    font-size: 150px;
    font-family: 'Bellefair', serif;
    color: var(--white);
}

.h2 {
    font-size: 100px;
    font-family: 'Bellefair', serif;
}

.h3 {
    font-size: 56px;
    font-family: 'Bellefair', serif;
}

.h4 {
    font-size: 32px;
    font-family: 'Bellefair', serif;
}

.h5 {
    font-size: 28px;
    letter-spacing: 4.75px;
    color: var(--lightBlue);
    font-family: 'Barlow Condensed', sans-serif;
}

.subHeading1 {
    font-size: 28px;
    font-family: 'Bellefair', serif;
}

.subHeading2 {
    font-size: 14px;
    letter-spacing: 2.35px;
    color: var(--lightBlue);
    font-family: 'Barlow Condensed', sans-serif;
}

.p {
    line-height: 32px;
    font-size: 18px;
    color: var(--lightBlue);
    font-style: normal;
    font-weight: 400;
    font-family: 'Barlow', sans-serif;
}

/* ANCHOR ========================= NAVBAR ==============================*/

.nav_line {
    position: relative;
}

.line {
    background-color: #ffffff;
    height: 0.5px;
    width: 100%;
    position: absolute;
    top: 50%;
    right: -20px;
    z-index: 10;
    opacity: 0.25;
}

.nav_links {
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    -webkit-backdrop-filter: blur(40.7742px);
    font-family: 'Barlow Condensed', sans-serif;

}

.navbar .nav_links ul li a {
    padding: 2.5rem 0;
    font-size: 16px;
    letter-spacing: 2.7px;
    position: relative;
}

.navbar .nav_links ul li a.active::after {
    /* border-bottom: 2px solid #fff; */
    transform: scaleX(1);
    transform-origin: bottom left;
    opacity: 1;
}

.navbar .nav_links ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar .nav_links ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -2px;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    opacity: 0.5;
}

.mobileNav{
    position: relative;
}

.mSideNav{
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    -webkit-backdrop-filter: blur(40.7742px);
    font-family: 'Barlow Condensed', sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    min-height: 100%;
    width: 0px;
    transition: all .5s linear;
}

.mSideNav.active{
    width: 70vw;
    padding: 6rem 0rem 0rem 2rem;
}

.mSideNav ul{
    display: none;
    
}

.mSideNav ul.active{
    display: block;
}

.sideNavLink{
    /* display: none; */
    opacity: 0%;
    transition: opacity .5s linear .5s;
}

.sideNavLink.active{
    /* display: block; */
    opacity: 100%;

}

.mSideNav ul li {
    position: relative;
    transition: all .5s ease;
}

.mSideNav ul li a.active::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: #ffffff;
}

.mSideNav ul li a:hover::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: #ffffff;
    opacity: .3;
}

.mSideNav ul li a.active:hover::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background-color: #ffffff;
    opacity: 1;
}










/* ANCHOR ========================= HOME ==============================*/

.home::before {
    content: "";
    background: url(./assets/home/background-home-desktop.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    min-height: 800px;
    width: 100%;
    z-index: -10;
}

.exploreBtn{
    background-color: var(--white);
    border-radius: 50%;
    height: 274px;
    width: 274px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark);
    font-family: 'Bellefair', serif;
    font-size: 32px;
    position: relative;
    cursor: pointer;
}

.exploreBtn::before{
    content: '';
    background-color: var(--white);
    border-radius: 50%;
    height: 274px;
    width: 274px;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.8s cubic-bezier(.42,.97,.52,1.49);
}

.exploreBtn:hover:before{
    transform: scale(1.5);
}

/* ANCHOR ========================= destination ==============================*/
.destination::before{
    content: "";
    background: url(./assets/destination/background-destination-desktop.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    min-height: 800px;
    width: 100%;
    z-index: -10;
}

.tab_links ul li{
    font-family: 'Barlow Condensed';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #D0D6F9; 
    position: relative;
    padding: 10px 0;
    cursor: pointer;
}

.tab_links ul li::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -2px;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    opacity: 0.5;
}

.tab_links ul li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.tab_links ul li.active::after {
    /* border-bottom: 2px solid #fff; */
    transform: scaleX(1);
    transform-origin: bottom left;
    opacity: 1;
}

.planetDetails{
    border-bottom: .5px solid #383B4B;
}


/* ANCHOR ========================= CREW ==============================*/

.crew::before{
    content: "";
    background: url(./assets/crew/background-crew-desktop.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    min-height: 860px;
    width: 100%;
    z-index: -10;
}

.crewTab_links ul li{
    height: 15px;
    width: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 0.2;
    cursor: pointer;
    transition: all .5s ease;
}

.crewTab_links ul li.active{
    opacity: 1;
}

.crewImg{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.crewImg img{
    height: 100%;
    width: 446px;
    z-index: -1;
}


/* ANCHOR ========================= TECHNOLOGY ==============================*/

.technology::before{
    content: "";
    background: url(./assets/technology/background-technology-desktop.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    min-height: 800px;
    width: 100%;
    z-index: -10;
}

.techLinks{
    border-radius: 50%;
    color: var(--white);
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bellefair';
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 2px;    
    border: 1px solid #383B4B;
    cursor: pointer;
    transition: all 0.3s ease;
}

.techLinks.active{
    background-color: var(--white);
    color: var(--dark);
    opacity: 1;
    border: 1px solid #ffffff;
}

.techLinks:hover{
    border: 1px solid #ffffff;
}

.techImage{
    height: 100%;
    width: 440px;
}

.technology .rightCol{
    padding: 2rem 0;
}